@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  background-color: hsl(235, 21%, 11%);
  font-family: "Josefin Sans", sans-serif;
  color: hsl(233, 14%, 35%);
  margin: 0;
  height: 100%;
}

.header {
  color: white;
  font-weight: 700;
  background-image: url("./images/bg-desktop-dark.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 250px;
}

.header.light {
  color: white;
  font-weight: 700;
  background-image: url("./images/bg-desktop-light.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 250px;
}

#theme {
  height: 25px;
  width: 25px;
  margin-top: 60px;
  margin-left: 500px;
  cursor: pointer;
}

h1 {
  margin-top: 60px;
  margin-right: 420px;
  position: absolute;
}

.input {
  height: 58px;
  width: 550px;
  background-color: hsl(235, 24%, 19%);
  margin-top: 130px;
  border-radius: 4px;
  position: absolute;
  display: flex;
  align-items: center;
}

.input.light {
  height: 58px;
  width: 550px;
  background-color: hsl(0, 0%, 98%);
  margin-top: 130px;
  border-radius: 4px;
  position: absolute;
  display: flex;
  align-items: center;
}

.button-active {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid hsl(237, 14%, 26%);
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-completed {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 0px solid hsl(237, 14%, 26%);
  margin-left: 20px;
  background-image: url("./images/icon-check.svg"),
    linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid hsl(237, 14%, 26%);
  margin-left: 20px;
}

input {
  border: none !important;
  width: 350px;
  height: 40px;
  margin-top: 4px;
  margin-left: 17px;
  background: transparent;
  color: hsl(234, 39%, 85%);
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: row;
}

input.light {
  border: none !important;
  width: 350px;
  height: 40px;
  margin-top: 4px;
  margin-left: 17px;
  background: transparent;
  color: hsl(235, 19%, 35%);
  font-family: "Josefin Sans", sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: row;
}

input:focus {
  outline: none;
}

::placeholder {
  color: hsl(234, 11%, 52%);
}

#cross {
  position: absolute;
  margin-left: 505px;
  cursor: pointer;
  padding: 5px;
  display: none;
  z-index: 10;
}

.post:hover #cross {
  display: block;
}

.container {
  width: 550px;
  height: auto;
  background-color: hsl(235, 24%, 19%);
  margin: 0 auto;
  margin-top: -35px;
  border-radius: 4px;
  display: flexbox;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container.light {
  width: 550px;
  height: auto;
  background-color: hsl(0, 0%, 98%);
  margin: 0 auto;
  margin-top: -35px;
  border-radius: 4px;
  display: flexbox;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post {
  height: 58px;
  width: 550px;
  background-color: hsl(235, 24%, 19%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  z-index: 8;
}

.post.light {
  height: 58px;
  width: 550px;
  background-color: hsl(0, 0%, 98%);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(233, 11%, 84%);
}

.footer {
  margin-top: 5px;
  height: 42px;
  color: hsl(234, 11%, 52%);
  display: flex;
  justify-content: flex-end;
}

p {
  text-align: center;
  margin-right: 20px;
  font-size: small;
  /* font-weight: 700; */
}

p:hover:not(#items) {
  color: hsl(236, 33%, 92%) !important;
  cursor: pointer;
}

p:hover:not(#items).light {
  color: hsl(237, 14%, 26%) !important;
  cursor: pointer;
}

#activebar,
#all,
#completedbar {
  font-weight: 700;
}

#completedbar {
  margin-right: 77px;
}

#items {
  margin-right: 105px;
}

h4 {
  text-align: center;
  margin-top: 53px;
  font-size: smaller;
}

h3 {
  margin-left: 17px;
  margin-top: 20px;
  color: hsl(234, 39%, 85%);
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
}

h3.light {
  margin-left: 17px;
  margin-top: 20px;
  color: hsl(235, 19%, 35%);
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
}

h3#completed {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
}

h3#completed.light {
  text-decoration: line-through;
  color: hsl(233, 11%, 84%);
}

.button-active:hover {
  /* position: absolute; */
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 0px;
  background: linear-gradient(
    to bottom right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.button-active:hover .circle-active {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: hsl(235, 24%, 19%);
}

.button-active:hover .circle-active.light {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 98%);
}

@media only screen and (max-width: 550px) {
  .input,
  .input.light,
  .container,
  .container.light,
  .post,
  .post.light {
    width: 360px;
  }

  input,
  input.light {
    width: 300px;
  }

  #theme {
    margin-left: 300px;
  }

  h1 {
    margin-right: 0px;
  }

  p {
    margin: 14px;
  }

  #completedbar {
    margin-right: 4px;
  }

  #items {
    margin-right: 150px;
  }

  #cross {
    margin-left: 320px;
  }

  .foo {
    display: flex;
    justify-content: center;
  }

  .ter {
    height: 58px;
    width: 360px;
    margin-top: 20px;
    background-color: hsl(235, 24%, 19%);
    border-radius: 5px;
    align-self: flex-end;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }

  .ter.light {
    background-color: hsl(0, 0%, 98%);
  }

  #all,
  #activebar,
  #completedbar {
    position: absolute;
    margin-top: 88px;
  }

  #all {
    margin-right: 235px;
  }

  #activebar {
    margin-right: 183px;
  }

  #completedbar {
    margin-right: 105px;
  }

  .button,
  .button-active,
  .button-completed {
    margin-left: 10px;
  }
}
